@use './header';
@use './profile';
@use './social';
@use '../../abstracts/colors';
@use '../../abstracts/breakpoints';

@mixin component-background {
  background: colors.$white;
  border-radius: 8px;
  padding: 2.4rem;
}

.home {
  padding: 7.2rem 0 2.4rem 0;
  width: 100%;
  min-height: 100vh;

  display: flex;
  gap: 1rem;

  position: relative;

  @media (max-width: breakpoints.$tablet) {
    flex-direction: column;
  }

  @media (max-width: breakpoints.$mobile) {
    padding: 3rem 0 0 0;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;

    .home__welcome {
      @include component-background;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      &-title {
        font-size: 2.8rem;
      }

      &-todaysluck {
        color: colors.$grey-400;
        font-size: 1.2rem;
      }

      &-infos {
        display: flex;
        gap: 2rem;

        .infos__item {
          text-align: center;
          font-style: italic;
          font-size: 1.2rem;
          color: colors.$black-300;

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding-top: 0.5rem;
            font-size: 1.4rem;

            span {
              color: colors.$blue-700;
            }

            i {
              font-size: 1.6rem;
            }
          }
        }
      }
    }

    .home__menu {
      @include component-background;

      &-title {
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

      .menu__list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        font-size: 1.2rem;
      }

      .menu__item {
        background-color: colors.$blue-400;
        border-radius: 8px;
        padding: 0.9rem 1.2rem;
        color: colors.$blue-700;
        font-size: 1.2rem;

        &--first {
          background-color: colors.$blue-800;
          color: colors.$white;
        }
      }
    }

    .home__repos {
      @include component-background;

      &-title {
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }

      .repos__list {
        background-color: colors.$blue-400;
        border-radius: 8px;

        .repos__item {
          padding: 1.4rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid colors.$white;

          &-name {
            color: colors.$blue-700;
            font-weight: bold;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
          }

          &-description {
            font-size: 1rem;
            color: colors.$grey-400;
          }

          &-star {
            color: colors.$white;
            background-color: colors.$blue-800;
            border-radius: 8px;
            padding: 1rem;
            font-size: 1.2rem;

            display: flex;
            gap: 0.5rem;
          }
        }
      }
    }
  }
}

//icons

.bi-journal-bookmark-fill,
.bi-geo-alt-fill {
  color: rgb(255, 61, 0);
}

.bi-star-fill {
  color: rgb(255, 202, 40);
}

.bi-people-fill {
  color: rgb(159, 43, 226);
}

.bi-binoculars-fill {
  color: rgb(32, 32, 197);
}

.bi-envelope-fill {
  color: rgb(207, 216, 220);
}

.bi-twitter,
.bi-buildings-fill {
  color: rgb(3, 169, 244);
}

.bi-github {
  color: rgb(0, 0, 0);
}

.bi-linkedin {
  color: rgb(10, 102, 194);
}
