$blue-900: #5579a1;
$blue-800: #6f92bb;
$blue-700: #2e7bb4;
$blue-600: #5c9ecf;
$blue-500: #bbcde8;
$blue-400: #d9e6f6;
$blue-200: #f1f9fe;
$blue-100: #ecf2fa;
$white: #ffffff;
$black-700: #333333;
$black-300: #5a5a5a;
$grey-400: #999999;
$grey-200: #c5c6ca;
$red: #d21404;
$purple-300: #d81d99;
